// font-size vars
$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

// radius-size
$radius-size-medium = 5px

// color
$color-background = rgba(7, 17, 27, 1)
$color-background-s = rgba(7, 17, 27, 0.8)
$color-background-ss = rgba(7, 17, 27, 0.5)
$color-background-sss = rgba(7, 17, 27, 0.2)

$color-white = #fff
$color-white-sss = rgba(255, 255, 255, 0.2)
